iframe.giphy-embed(src="https://giphy.com/embed/H6oV7ZbFYSTlvoG0R5", width="480", height="266", frameBorder="0", allowFullScreen)
    p
        a(href="https://giphy.com/gifs/graduate-diploma-you-made-it-H6oV7ZbFYSTlvoG0R5")