iframe.giphy-embed(src="https://giphy.com/embed/l1J9r5zVirrgC9ySc", width="480", height="270", frameBorder="0", allowFullScreen)
            p
                a(href="https://giphy.com/gifs/jk-just-kidding-messin-l1J9r5zVirrgC9ySc")